*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root {
    --green: #286f6c;
    --light: #f9f5f2;
}
body{
    position: relative;
    min-height: 100vh;
    padding-bottom: 10vh;
}
.nav_container{
    background-color: #286f6c;
    display: flex;
    justify-content: end;
    align-items: center;
    min-height: 10vh;
    width: 100%;
    position:fixed;
}
.nav_ul{
    display: flex;
    list-style: none;
    gap: 1em;
    margin-right: 1vh;
}
.nav_item{
    font-size: 1.1em;
    color: var(--light);
    padding: 5px;
    border-radius: 10px;
    background-color: #b05454;
    cursor: pointer;
}
.nav_item:hover{
    background-color: #c46767;
    transform: scale(1.1);
}
.nav_a{
    color: var(--light);
    text-decoration: none;
}
.container_description{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2em;
    padding-top: 5em;
    margin-bottom: 2em;
}
.description{
    width: 300px;
    padding: 5px;
}
.description_img{
    width: 300px;
    height: 300px;
}
.container_porta{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    margin-bottom: 2em;
}
.porta_ul{
    list-style: none;
    display: flex;
    gap: 1.2em;
}
.porta_li{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5em;
    text-decoration: none;
    color: black;
    font-size: 1.1em;
}
.porta_li:hover{
    transform: scale(1.05);
}
.item{
    font-size: 1.5em;
    border: 1px solid grey;
    padding: 8px;
    border-radius: 10px;
    background-color:var(--light);
}
.fa-html5{
    color: #b05454;
}
.fa-css3-alt{
    color: rgb(0, 60, 255);
}
.fa-js{
    color: rgb(213, 216, 14);
}
.fa-react{
    color: rgb(25, 44, 218);
}
.article_div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5em;
    padding-left: 1em;
    padding-bottom: 25vh;
}
.article_ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1em;
    list-style: none;
}
.article_img{
    width: 200px;
    height: 400px;
    border: 2px solid grey;
    border-radius: 10px;
}
.container_footer{
    background-color: #286f6c;
    position: absolute;
    width: 100%;
    min-height: 20vh;
    bottom: 0;
}
.footer_title{
    padding-top: 0.5em;
    margin-left: 1em;
    margin-bottom: 0.8em;
}
.footer_ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 1em;
    padding-bottom: 1em;
}
.fa-envelope{
    color: #d4b529;
}
.fa-linkedin{
    color: rgb(13, 86, 182);
}
.fa-phone{
    color:var(--green);
}